# ITMGT 25.03 EE
### Assignment 1

These exercises are designed to strengthen your grasp on basic programming concepts. Read what is required of you carefully.

This assignment is only over 10 points, but there are 15 points available to earn from answering the questions. It will be credited to Class Participation, which will be over 200 for the entire semester.

Rename the file to:

Lastname_Assignment_1.ipynb

Send to my email account: joben.ilagan@gmail.com. 
Attach the file or create a Dropbox link. 
The deadline is Tuesday, 18 June 2019, 12:00 nn.

You may earn another 2 bonus points for figuring out GitHub and linking me to your repository in your email. (This brings the absolute maximum possible grade for this assignment to 17/10.)

# 1
### 1 point

Write a function that takes the circumference of a circle as a parameter and **returns** the area of that circle.

In [1]:
def area(c):
    return 3.14*(c/(2*3.14))**2
area(2)

0.3184713375796178

# 2
### 2 points

Write a function that takes a 5-character string as a parameter and **returns** the string in reverse order.

e.g. reverseString("Hello") -> "olleH"

In [30]:
def reverse(x):
    return x[:-6:-1]

myword = reverse(input("input 5-letter word: "))

print(myword)

input 5-letter word: arete
etera

# 3
### 2 points

Write a function that takes a positive integer as input and **returns** the sum of all positive integers smaller than and including the number itself.

e.g. backAddition(5) -> 1 + 2 + 3 + 4 + 5 -> 15

In [28]:
number = int(input("input number: "))
sum = 0
for numb in range (0, number+1):
    sum = numb+sum
    
print("back add:",sum)

input number: 6
back add: 21

# 4
### 3 points

Write a function that does the following:
1. The function iterates through each number from 1 to 100. Print each number.
2. If the number is divisible by 3, instead of the number, print "Fizz"
3. If the number is divisible by 5, instead of the number, print "Buzz"
4. If the number is divisible by both 3 and 5, instead of the number, print "FizzBuzz"

e.g.

1

2

Fizz

4

Buzz

Fizz

...

14

FizzBuzz

16

17

...

In [2]:
for i in range (1,101):
    if ((i%5==0) and (i%3==0)):
        print ("FizzBuzz")
    elif (i%5==0):
        print ("Buzz")
    elif (i%3==0):
        print ("Fizz")
    else:
        print (i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 5
### 2 points

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, using programming, find the sum of the even-valued terms.

In [34]:
def fibonacci():
    x = y = 1
    sum = 0
    while (sum < 4000000):
        sum += (x+y)
        x,y = x+2*y,2*x+3*y
    print(sum)
fibonacci()

4613732

# 6
### 5 points (all or nothing)

The sum of the squares of the first ten natural numbers is,
12 + 22 + ... + 102 = 385

The square of the sum of the first ten natural numbers is,
(1 + 2 + ... + 10)2 = 552 = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 âˆ’ 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

Show code that generates the answer.

In [31]:
first_sum = 0
for i in range (1,101):
    first_sum = first_sum + i**2
second_sum = 0
for i in range (1,101):
    second_sum = second_sum + i 
square_sum = (second_sum)**2
difference = square_sum - first_sum

difference

25164150