# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [126]:
## Code goes here
import pandas as pd
import numpy as np
import re


student_profiles = pd.read_csv("studentprofiles.csv")
recweekdata = pd.read_csv("recweekdata.csv")

In [127]:
merge = pd.merge(student_profiles, recweekdata)

In [128]:
# replaced the last 3 months first to avoid mixing up october as january0 and so on...
# should use merge.loc[:,"birthmonth"] as the variable because if not, only one will be changed and it will not carry over
# $ makes the program read in reverse or from right to left so it avoids repetitions like decemberember
# no need for ^ before number since the maximum number of digits is only two, only 11 will repeat but it is defined
#A|B matching gotten from regex cheat sheet
# clean birthmonth into "January" format
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"10|Oct$","October",regex=True)
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"11|Nov$","November",regex=True)
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"12|Dec$","December",regex=True)

In [129]:
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"1|Jan$","January",regex=True) 
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"2|Feb$","February",regex=True) 
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"3|Mar$","March",regex=True) 
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"4|Apr$","April",regex=True) 
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"6|Jun$","June",regex=True)
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"7|Jul$","July",regex=True)
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"8|Aug$","August",regex=True)
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"9|Sep$","September",regex=True)
merge.loc[:,"birthmonth"] = merge.loc[:,"birthmonth"].replace(r"5","May",regex=True)

In [130]:
# clean birth year into "19xx" format
merge.loc[:,"birthyear"] = merge.loc[:,"birthyear"].astype(str).replace(r"^97","1997",regex=True)
merge.loc[:,"birthyear"] = merge.loc[:,"birthyear"].astype(str).replace(r"^98","1998",regex=True)
merge.loc[:,"birthyear"] = merge.loc[:,"birthyear"].astype(str).replace(r"^99","1999",regex=True)
merge.loc[:,"birthyear"] = merge.loc[:,"birthyear"].astype(str).replace(r"^00","2000",regex=True)
merge.loc[:,"birthyear"] = merge.loc[:,"birthyear"].astype(str).replace(r"^01","2001",regex=True)

In [131]:
# clean course into "BS Management" format
#similar to birthmonth
#several course codes that need to have the same result after cleansing so used A|B matching
merge.loc[:,"course"] = merge.loc[:,"course"].str.replace(r"^Communications Technology|BS CTM|CTM", "BS Communications Technology Management",regex=True)
merge.loc[:,"course"] = merge.loc[:,"course"].str.replace(r"^Information Technology Entrepreneurship|BS ITE|ITE", "BS IT Entrepreneurship",regex=True)
merge.loc[:,"course"] = merge.loc[:,"course"].str.replace(r"^Management Engineering|BS ME|ME", "BS Management Engineering",regex=True)
merge.loc[:,"course"] = merge.loc[:,"course"].str.replace(r"^Management|BS MGT|MGT", "BS Management",regex=True)
merge.loc[:,"course"] = merge.loc[:,"course"].str.replace(r"^Legal Management|BS LM|LM", "BS Legal Management",regex=True)

In [132]:
# clean phone number into "+639xxxxxxxx"
# need to us ^ since there may be a lot of 9's in the phone number and only the 1st one has to be changed
merge.loc[:,"phonenumber"] = merge.loc[:,"phonenumber"].str.replace(r"^9","+63 9",regex=True)

In [133]:
#add a carrier
merge.loc[:,"phonenumber"].str[0:7]
carrier = {"+63 917":"Globe","+63 918":"Smart", "+63 927":"Globe"}
merge["carrier"] = merge.loc[:,"phonenumber"].str[0:7].apply(lambda x: carrier[x])

In [134]:
# create new csv file which is already clean
merge.to_csv("cleanrecweekdata3b.csv", index= True)

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [135]:
#used phone number for each to be different
#first names and last names are all different but in reality there are some that have the same first names and/or last names
merge.groupby(["birthmonth"])["phonenumber"].count()

birthmonth
April        267
August       241
December     276
February     232
January      270
July         249
June         259
March        246
May          273
November     277
October      178
September    232
Name: phonenumber, dtype: int64

In [136]:
merge.groupby(["birthday"])["phonenumber"].count()

birthday
1     112
2     106
3      90
4     110
5     100
6      99
7      88
8     111
9      98
10    111
11    105
12     98
13    119
14    102
15    121
16    115
17    116
18    107
19    113
20     91
21    123
22    103
23    116
24    108
25    116
26    116
27    102
28    104
Name: phonenumber, dtype: int64

In [137]:
merge.groupby(["birthyear"])["phonenumber"].count()

birthyear
1997    756
1998    746
1999    756
2000    380
2001    362
Name: phonenumber, dtype: int64

In [138]:
merge.groupby(["course"])["phonenumber"].count()

course
BS Communications Technology Management    589
BS IT Entrepreneurship                     590
BS Legal Management                        585
BS Management                              629
BS Management Engineering                  607
Name: phonenumber, dtype: int64

In [139]:
merge.groupby(["carrier"])["phonenumber"].count()

carrier
Globe    2045
Smart     955
Name: phonenumber, dtype: int64

In [140]:
merge.groupby(["carrier","gender"])["phonenumber"].count()

carrier  gender
Globe    Female     984
         Male      1061
Smart    Female     494
         Male       461
Name: phonenumber, dtype: int64

In [193]:
html = """

<p> </p>
<h2 style="text-align: left;"><span style="background-color: #cc99ff;"> <strong> <em> Summary </em> </strong> </span></h2>
<h2 style="text-align: left;"><span style="background-color: #ffcc99;"> Stats </span></h2>
<div class="rTable" style="text-align: left;">
<div class="rTableBody">
<div class="rTableRow">
<div class="rTableCell"><span style="background-color: #00ffff;"> <strong> People born in each month </strong> </span></div>
<div class="rTableCell">
<div class="col"><span style="background-color: #00ffff;"> January: 270 </span></div>
<div class="col"><span style="background-color: #00ffff;"> February: 232 </span></div>
<div class="col"><span style="background-color: #00ffff;"> March: 246 </span></div>
<div class="col"><span style="background-color: #00ffff;"> April: 267 </span></div>
<div class="col"><span style="background-color: #00ffff;"> May: 273 </span></div>
<div class="col"><span style="background-color: #00ffff;"> June: 259 </span></div>
<div class="col"><span style="background-color: #00ffff;"> July: 249 </span></div>
<div class="col"><span style="background-color: #00ffff;"> August: 241 </span></div>
<div class="col"><span style="background-color: #00ffff;"> September: 232 </span></div>
<div class="col"><span style="background-color: #00ffff;"> October: 178 </span></div>
<div class="col"><span style="background-color: #00ffff;"> November: 277 </span></div>
<div class="col"><span style="background-color: #00ffff;"> December: 276 </span></div>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell"><strong> <span style="background-color: #ff99cc;"> People born on each day </span> </strong></div>
<div class="rTableCell">
<p><span style="background-color: #ff99cc;"> 1: 112 </span></p>
<p><span style="background-color: #ff99cc;"> 2: 106 </span></p>
<p><span style="background-color: #ff99cc;"> 3: 90 </span></p>
<p><span style="background-color: #ff99cc;"> 4: 110 </span></p>
<p><span style="background-color: #ff99cc;"> 5: 100 </span></p>
<p><span style="background-color: #ff99cc;"> 6: 99 </span></p>
<p><span style="background-color: #ff99cc;"> 7: 88 </span></p>
<p><span style="background-color: #ff99cc;"> 8:111 </span></p>
<p><span style="background-color: #ff99cc;"> 9: 98 </span></p>
<p><span style="background-color: #ff99cc;"> 10: 111 </span></p>
<p><span style="background-color: #ff99cc;"> 11: 105 </span></p>
<p><span style="background-color: #ff99cc;"> 12: 98 </span></p>
<p><span style="background-color: #ff99cc;"> 13: 119 </span></p>
<p><span style="background-color: #ff99cc;"> 14: 102 </span></p>
<p><span style="background-color: #ff99cc;"> 15: 121 </span></p>
<p><span style="background-color: #ff99cc;"> 16: 115 </span></p>
<p><span style="background-color: #ff99cc;"> 17: 116 </span></p>
<p><span style="background-color: #ff99cc;"> 18: 107 </span></p>
<p><span style="background-color: #ff99cc;"> 19: 113 </span></p>
<p><span style="background-color: #ff99cc;"> 20: 91 </span></p>
<p><span style="background-color: #ff99cc;"> 21: 123 </span></p>
<p><span style="background-color: #ff99cc;"> 22: 103 </span></p>
<p><span style="background-color: #ff99cc;"> 23: 116 </span></p>
<p><span style="background-color: #ff99cc;"> 24: 108 </span></p>
<p><span style="background-color: #ff99cc;"> 25: 116 </span></p>
<p><span style="background-color: #ff99cc;"> 26: 116 </span></p>
<p><span style="background-color: #ff99cc;"> 27: 102 </span></p>
<p><span style="background-color: #ff99cc;"> 28: 104 </span></p>
<p><span style="background-color: #ff99cc;"> 29: 0 </span></p>
<p><span style="background-color: #ff99cc;"> 30: 0 </span></p>
<p><span style="background-color: #ff99cc;"> 31: 0 </span></p>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell"><strong> <span style="background-color: #ffff99;"> People born in each year </span> </strong></div>
<div class="rTableCell">
<p><span style="background-color: #ffff99;"> 1997: 756 </span></p>
<p><span style="background-color: #ffff99;"> 1998: 746 </span></p>
<p><span style="background-color: #ffff99;"> 1999: 756 </span></p>
<p><span style="background-color: #ffff99;"> 2000: 380 </span></p>
<p><span style="background-color: #ffff99;"> 2001: 362 </span></p>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell"><strong> <span style="background-color: #99cc00;"> People coming from each course </span> </strong></div>
<div class="rTableCell">
<p><span style="background-color: #99cc00;"> BS Communications Technology Management: 589 </span></p>
<p><span style="background-color: #99cc00;"> BS IT Entrepreneurship: 590 </span></p>
<p><span style="background-color: #99cc00;"> BS Legal Management: 585 </span></p>
<p><span style="background-color: #99cc00;"> BS Management: 629 </span></p>
<p><span style="background-color: #99cc00;"> BS Management Engineering: 607 </span></p>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell"><span style="background-color: #99ccff;"> <strong> People having numbers from Globe and Smart </strong> </span></div>
<div class="rTableCell">
<p><span style="background-color: #99ccff;"> Globe: 2045 </span></p>
<p><span style="background-color: #99ccff;"> Smart: 955 </span></p>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell"><span style="color: #0000ff;"> <strong> Globe </strong> </span></div>
<div class="rTableCell">
<p><span style="color: #0000ff;"> Male: 1061 </span></p>
<p><span style="color: #0000ff;"> Female: 984 </span></p>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell"><strong><span style="color: #339966;">Smart</span></strong></div>
<div class="rTableCell">
<p><span style="color: #339966;">Male: 461</span></p>
<p><span style="color: #339966;">Female: 494</span></p>
</div>
</div>
</div>
</div>
<p style="text-align: left;"> </p>

"""

with open("stats3b.html","w+") as stats_file:
    stats_file.write(html)